.opt-btn-adivina-game{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  background-color: blue;
  color: white;
  text-align: center;
  margin: 5px;
}

.opt-btn-adivina-game-false{
  background-color: red;
}

.opt-btn-adivina-game-true{
  background-color: green;
}